<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form (submit)="onLogin(loginForm)" #loginForm="ngForm" *ngIf="!isLoading">
  <div *ngIf="!isLoading">
    <mat-form-field>
        <input matInput name="name" placeholder="User Name" [(ngModel)]="username" required>
    </mat-form-field>

    <mat-form-field>
        <input matInput name="password" placeholder="Password" [(ngModel)]="password" required>
    </mat-form-field>

    <mat-form-field>
        <input matInput name="email" type="email" placeholder="Email" [(ngModel)]="email" required email>
    </mat-form-field>
  </div>
  <button mat-raised-button type="submit" color="accent">Login</button>
  </form>
</mat-card>
