<mat-drawer-container class="container" autosize>
    <mat-drawer #drawer class='sidenav'>
      <button color='primary' mat-button routerLink='/landing-page'>HOME</button>
      <button color='primary' mat-button routerLink='/cal-calculator'>Calories Calculator</button>
      <button color='primary' mat-button routerLink='/hitloop'>HitLoop</button>
    </mat-drawer>
    <div class='sidenav-content'>
      <mat-toolbar color='primary'>
        <mat-toolbar-row>
            <button mat-icon-button (click)='drawer.toggle()'>
                <mat-icon>menu</mat-icon>
            </button>
            <span class='toolbartext'>HitLoop</span>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
</mat-drawer-container>

<router-outlet></router-outlet>
