<mat-drawer-container class='container'>
    <mat-drawer #drawer class='sidenav'>
      <button color='primary' mat-button routerLink='/landing-page' (click)='drawer.toggle()'>HOME</button>
      <button color='primary' mat-button routerLink='/hitloop' (click)='drawer.toggle()'>HitLoop</button>
      <button color='primary' mat-button routerLink='/cal-calculator' (click)='drawer.toggle()'>Calories Calculator</button>
    </mat-drawer>
    <div class='sidenav-content'>
      <mat-toolbar color='primary'>
        <mat-toolbar-row>
            <button mat-icon-button (click)='drawer.toggle()'>
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-button routerLink='/landing-page' class='toolbartext'>HitLooP</button>
        </mat-toolbar-row>
      </mat-toolbar>
      <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
