<mat-grid-list cols="2" rowHeight="2:1">

  <mat-grid-tile [colspan]=2 class='grid1container'>
    <mat-card-content>
      <div>
        <h1 class='grid1text'>Your Ultimate HiiT Traning Companion</h1>
      </div>
      <div style="vertical-align: 80%;">
        <p style="color: aliceblue; size: inherit;">Download Now: </p>
        <a class="googleplayimg" target="_blank" rel="noopener noreferrer" href='https://play.google.com/store/apps/details?id=com.nyang.hitloop'>
          <img class="googleplayimg" src='../../assets/google-play-badge.png'>
        </a>
      </div>
    </mat-card-content>
  </mat-grid-tile>

  <mat-grid-tile class='grid2container'>
    <a routerLink='/cal-calculator'>
      <img src='../../assets/org_calc.png'>
    </a>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-button routerLink='/hitloop' backgroundcolor='primary' style='margin: full'>
      HitLooP
    </button>
  </mat-grid-tile>

</mat-grid-list>
