.grid1container{
  background-color: #45474a;
  text-align: center;
}

.grid1text {
  color: white;
  font-family: Garamond;
  font-size: 300%;
}

.grid2container{
  background-color: #ffb74d;
  text-align: center;
}
