<mat-grid-list cols="3" rows="2">
  <mat-grid-tile [colspan]=1 [rowspan]=1 class='userinput'>
    <div>
      <mat-form-field>
        <input matInput placeholder="please enter your weight">
      </mat-form-field>
    </div>
  </mat-grid-tile>

  <mat-grid-tile [colspan]=1 [rowspan]=1>
    section 2
  </mat-grid-tile>

  <mat-grid-tile [colspan]=1 [rowspan]=1>
      section 3
  </mat-grid-tile>

  <mat-grid-tile [colspan]=3 [rowspan]=1 style="background-color: beige">
    chart
  </mat-grid-tile>
</mat-grid-list>
