<div>
  <mat-grid-list cols="7" rows="7">
    <mat-grid-tile [colspan]=3 [rowspan]=2 class='userinput'>
      <h1 class='header'>
        Personal Attributes
      </h1>
      <div class='input'>
        <mat-form-field appearance="outline">
          <input matInput placeholder="please enter your weight" [(ngModel)] = "weight">
        </mat-form-field>
        <mat-form-field appearance="outline">
            <input matInput placeholder="please enter your Age" [(ngModel)]='age'>
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=1 class='sec2'>
      <button mat-button (click)='renderchart()'>Show Analysis</button>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=3 [rowspan]=2 class='userinput'>
      <h1 class='header2'>
        HiiT Detail Info
      </h1>
      <div class='input'>
        <mat-form-field appearance="outline">
          <input matInput placeholder="please enter # of loops">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Time of light workout">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Time of medium workout #Optional">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input matInput placeholder="Time of intense workout">
        </mat-form-field>
      </div>
    </mat-grid-tile>

    <mat-grid-tile [colspan]=7 [rowspan]=3>
      <div class='container'>
          <canvas id="hitchart" aria-label="Hello ARIA World" width="1000" height="300">
          </canvas>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
